<div class="center hero-unit">
  <h1>Financial Exchange</h1>

  <h2>
    This is where you can transact on stocks.
  </h2>

  <%= link_to "Buy", buy_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sell", sell_path, class: "btn btn-large btn-primary" %>
</div>
