<div>
  <span class="span1"><%= stock_price.price %></span>
  <span class="span1"><%= stock_price.quantity %></span>
  <span class="timestamp">
    <%= time_ago_in_words(stock_price.transaction_time) %> ago.
  </span>
</div>